<!doctype html>
<html>
  <head>
    [define title]What is MFK?[end]
    [include "head.html"]
  </head>

  <body id="body">
    [include "header.html"]
    <div id="page">
      <h2>What is it?</h2>
      <p>
        Marry-Fuck-Kill (MFK) is a simple game where you are presented with
        three items. They could be people, places, concepts, or commom
        household objects. You must then decide whether you would marry, fuck,
        or kill each one of them -- you must do each exactly once to each item.
      </p>

      <p>
        The offline version of the game is a way to kill some time while you're
        stuck in a Costa Rican airport for three hours when your flight is
        delayed.
      </p>

      <h2>Who made it?</h2>
      <p>
        The original game is as old as time itself.<br>
        Web game concept by Anna and <a href="http://michaelkelly.org">Michael</a>.<br>
        Programming by <a href="http://hjfreyer.com">Hunter</a> and Michael.<br>
      </p>
      <p>
        All code is <a href="https://github.com/hjfreyer/marry-fuck-kill">on GitHub</a>.
      </p>

      [include "nav.html"]
    </div>
    [insertfile "foot.html"]
  </body>
</html>
