<!doctype html>
<html>
  <head>
    [define title]My MFKs[end]
    [include "head.html"]
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    <script src="/s/vote.js" type="text/javascript"></script>

  </head>
  <body id="body">
    [insertfile "header.html"]
    <div id="page">
      <h2>[title]</h2>

      [if-any nickname]
        [if-any triples]
          [for triples]
            <a href="/vote/[triples.key]">
              <table class="tripletable statstable">
                <tr class="title-row">
                  <td>[triples.one_name]</td>
                  <td>[triples.two_name]</td>
                  <td>[triples.three_name]</td>
                </tr>
                <tr class="image-row">
                  <td>
                    <img src="[triples.one_url]"
                         alt="[triples.one_name]"></img>
                  </td>
                  <td>
                    <img src="[triples.two_url]"
                         alt="[triples.two_name]"></img>
                  </td>
                  <td>
                    <img src="[triples.three_url]"
                         alt="[triples.three_name]"></img>
                  </td>
                </tr>
                <tr class="stats-row">
                  <td>
                    <img src="[triples.one_stats]"
                         alt="[triples.one_name] stats"></img>
                  </td>
                  <td>
                    <img src="[triples.two_stats]"
                         alt="[triples.one_name] stats"></img>
                  </td>
                  <td>
                    <img src="[triples.three_stats]"
                         alt="[triples.one_name] stats"></img>
                  </td>
                </tr>
              </table>
            </a>
          [end]
        [else]
        <p>
          No MFKs to show. Maybe you haven't made any yet, or you weren't logged
          in when you did. Only MFKs that you make while logged in will appear
          here.
        </p>
        [end]
      [else]
        <p>
          You're not logged in. You must log in to see MFKs that you have made.
        </p>
      [end]
      [include "nav.html"]
    </div>
    [insertfile "foot.html"]
  </body>
</html>
