<!-- nav.html -->
<div class="nav">
  [is page "vote"]
    <span class="nav-active">Vote</span> |
  [else]
    <span class="nav-inactive"><a href="/">Vote</a></span> |
  [end]
  [is page "make"]
    <span class="nav-active">Make Your Own</span> |
  [else]
    <span class="nav-inactive"><a href="/make">Make Your Own</a></span> |
  [end]
  [is page "about"]
    <span class="nav-active">What is MFK?</b>
  [else]
    <span class="nav-inactive"><a href="/about">What is MFK?</a></span>
  [end]

  [if-any debug_login]
    <!-- Login section is only displayed if you set debug_login. That will go
         away once it's more finalized. -->
    [if-any nickname]
      | <span class="nav-active">[nickname] (<a href="[logout_url]">Log out</a>)</span>
    [else]
      | <span class="nav-active"><a href="[login_url]">Log in</a></span>
    [end]
  [end]
</div>
<!-- end nav.html -->
