<!doctype html>
<html>
  <head>
    [define title]Vote[end]
    [include "head.html"]
    <!-- Add any GWT meta tags before this line. -->
    <script type="text/javascript" language="javascript" src="/s/gwt/mfkweb/mfkweb.nocache.js"></script>
    [insertfile "analytics.html"]
  </head>
  <body id="body">
    <!-- history support -->
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
    <h1><img src="/s/title.png" width="410" height="41" alt="Marry-Fuck-Kill"></h1>

    <div id="lefty" style="display: none">
      <!-- stub for future stats display -->
    </div>

    <div id="page">
      <noscript>
        <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
          Your web browser must have JavaScript enabled
          in order for to play Marry/Fuck/Kill!
        </div>
      </noscript>

      <p>
        Vote for "marry", "fuck", or "kill" on each item below. You must vote for each on exactly once!
      </p>

      <center>
        <table>
          <tr>
          <td id="e1">
              <div class="entity">
                <div id="e1title"></div>
                <div id="e1image"></div>
              </div>
             <div id="e1Vote"></div>
            </td>
            <td id="e2">
              <div class="entity">
                <div id="e2title"></div>
                <div id="e2image"></div>
              </div>
              <div id="e2Vote"></div>
            </td>
            <td id="e3">
              <div class="entity">
                <div id="e3title"></div>
                <div id="e3image"></div>
              </div>
              <div id="e3Vote"></div>
            </td>
          </tr>
        </table>
        <div id="status"></div>
        <span id="voteButton" class="control"></span>
        <span id="skipButton" class="control"></span>
      </center>

      [include "nav.html"]
    </div>
    [insertfile "foot.html"]
  </body>
</html>
