<!doctype html>
<html lang="en" ng-app="mfkMaker">
  <head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/app/css/app.css"/>
  </head>
  <body id="mfk-maker" ng-controller="Page" ng-keydown="page.onKeyDown($event)">
    MAKAMFK

    <div id="maker-area">
      <div class="entity entity-{{$index}}" ng-repeat="entity in table.entities">
	<div class="image-search" ng-class="{shown: entity.searching}">
	  <div class="toolbar">
	    <form class="input-group" ng-submit="entity.search()">
	      <input type="text" class="form-control" ng-model="entity.query"
		     placeholder="Search">
	      <span class="input-group-btn">
		<button class="btn btn-primary">
		  <span class="glyphicon glyphicon-search"></span>
		</button>
	      </span>

	    </form>
	  </div>
	  <img class="watermark" src="/s/powered-by-google.gif"
	       alt="powered by Google">
	  <div class="results">
	    <img class="result"
		 ng-repeat="image in entity.images"
		 ng-src="{{image.thumbnail}}"
		 ng-click="entity.selectImage($index)">
	  </div>
	</div>
	<div class="info">
	  <form class="name input-group input-group-lg"
		ng-submit="entity.showSearch()">
	    <input type="text" class="form-control"
		   ng-model="entity.name"
		   tabindex="{{$index + 1}}"
		   placeholder="Choose a Name">
	  </form>
	  <div class="image"
	       ng-click="entity.showSearch()"
	       ng-class="{placeholder: entity.isPlaceholder()}"
	       ng-style="{'background-image': 'url('+entity.getImage()+')'}">

	  </div>
	</div>
	<div class="bottom-bar">
	  <div class="help-text alert alert-sm alert-danger"
	       ng-class="{shown: table.errorCode == 'NO_NAME'}">
	    You need to pick a name for all three
	  </div>
	  <div class="help-text alert alert-sm alert-danger"
	       ng-class="{shown: table.errorCode == 'NO_IMAGE'}">
	    You need to choose an image for all three
	  </div>
	  <div class="btn-group reset">
	    <button type="button" class="btn btn-default"
		    ng-click="page.reset()">
	      <span class="glyphicon glyphicon-trash"></span>

	    </button>
	  </div>
	  <form class="btn-group submit" method="GET" 	action="/foo">
	    <input ng-repeat="entity in table.entities" type="hidden"
		   name="fooo{{$index}}" ng-value="entity.name" required>
	    <button type="submit" class="btn btn-primary"
		    ng-click="table.submit($event)">Make it so</button>
	  </form>
	</div>
      </div>

    </div>

    <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script-->
    <script src="/bower_components/angular/angular.js"></script>


    <script src="/app/js/app.js"></script>
    <script src="/app/js/services.js"></script>
    <script src="/app/js/controllers.js"></script>
    <script src="/app/js/filters.js"></script>
    <script src="/app/js/directives.js"></script>
  </body>
</html>
