/* TODO(mjkelly): Make this Sass. */

#mobile-warning {
  margin-top: 10px;
  text-align: center;
  display: block;
}

#lefty {
    display: block;
    float: none;
    width: 640px;
    margin-bottom: 5px;
}

#lefty .prev-name {
  height: 2.5em;
}

#lefty .elem {
  float: left;
  padding: 10px;
  /* this matches the sizes of the images below */
  width: 190px;
}
