/* The whole browser window. */
#body {
    background: #9911bb;
    font-family: sans-serif;
    margin: 0;
}

/* The main content. */
#page {
    display: block;
    background: white;
    padding: 15px;

    width: 640px;
    height: 100%;
    margin: 0 auto;

    border: 1px solid #330033;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

/* Extra display panel on the left. */
#lefty {
    padding-left: 0;
    display: block;
    float: left;
    background: white;
    padding: 15px;

    /* This is based on the width of the Google Charts images that */
    /* will be inside this panel. */
    width: 150px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;

    border: 1px solid #330033;
    border-left: 0;
    border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
}

#lefty .title {
    font-weight: bold;
    font-size: 20px;
}

#lefty .prev-name {
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    margin: 5px 2px 0 2px;
}

/* Unused in wide-screen version. */
#lefty .elem {}

/* This only affects non-gwt-styled elements. */
#body a, a:visited, a:hover {
    color: black;
}

#mobile-warning {
  display: none;
}

.titleImage {
    margin: 20px 0;
    border: 0;
}

.topText {
    padding: 0 10px 20px 10px;
    font-size: 15px;
}

.tripletable {
    width: 100%;
    table-layout: fixed;

    border-spacing: 2px 0;
    margin-top: 3px;
}

.tripletable td {
    text-align: center;
    overflow: hidden;
}

.title-row td {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    vertical-align: top;
    height: 2.5em;

    border-style: solid;
    border-color: black;
    border-width: 1px 1px 0 1px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
}

.image-row img {
  border: 0;
}

.image-row td {
    height: 180px;

    border-style: solid;
    border-color: black;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
}

.buttons-row td {
    padding-top: 5px;
}

.statstable {
    margin-bottom: 40px;
}

.stats-row img{
    border: 0;
}

.button {
    margin-left: auto;
    margin-right: auto;

    color: gray;

    font-size: 12pt;
    text-decoration: none;
    width: 95%;
    padding: 3px 0;
    border: 1px solid #DDD;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;

    border-radius: 5px;
    cursor: pointer;

    background: #DDD;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button.clickable {
    color: black;
    background: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EEE));
    background: -moz-linear-gradient(0% 90% 90deg, #EEE, white);
}

.button.clickable:hover {
    color: white;
    border-color: #3278BE;
    background: #4195DD;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
    background: -moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}

.button.clickable:active {
    background: #4195DD;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
    background: -moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}

.selected {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.actionbar {
    text-align: center;
    margin: 30px 0;
}

.actionbar .button {
    display: inline-block;
    width: 30%;
    margin: 0 20px;
}

.adminbar {
    padding: 5px;
    background: #dd8;
    border-top: 2px solid black;
}

.admin-disabled {
  color: white;
  background: red;
}

.nav {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 10px;
}

.pickerBody {
    white-space: nowrap;
    position: relative;
}

.picker .rightSide {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid lightgray;
}

.picker .primaryImgBox {
    display: table-cell;

    width: 200px;
    height: 200px;

    vertical-align: middle;
    text-align: center;
}

.picker .imageChoices {
    display: inline-block;
    width: 400px;
    white-space: normal;
}

.picker .unselected {
    padding: 4px;
}

.picker .unselected:hover {
    border: 2px solid gray;
    padding: 2px;
}

.picker .branding {
    position: absolute;
    right: 0;
    bottom: 35px;
    opacity: .6;
}

.picker .selected {
    border: 2px solid #9911bb;
    padding: 2px;
}

.picker .submitBar {
    text-align: right;
}

.picker .button {
    margin: 5px 10px;
    width: 120px;
}
