h1 {
    font-size: 30px;
    font-weight: bold;
    color: #330033;
    margin: 20px;
    text-align: center;
    /*border-bottom: 1px solid #330033;*/
}

.body {
    background: #8800aa;
} 

.mfkButton {
}

.errorText {
    margin: 20px;
}

#mainTable {
	text-align: center;
}

.entity {
	width: 200px;
	height: 200px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #330033;
}

#e1Display {
}
#e2Display {
}
#e3Display {
}

#e1Vote {
}
#e2Vote {
}
#e3Vote {
}

.status {
}

.control {
    margin: 10px;
}

.saved {
	width: 200px;
	height: 200px;
}

.instructions {
    font-size: 14px;
    padding: 8px 4px 4px 4px;
}

.fakelink {
    text-decoration: underline;
    cursor: pointer; 
    color: blue;
}
