
@import "base";

$margin: 10px;
$searchMargin: 10px;

$resultSize: 135px;
$resultBorder: 2px;
$numResultRows: 2;
$numResultCols: 5;

$totalWidth: 2 * $searchMargin + $resultSize * $numResultCols;

$searchBarHeight: 40px;
$drawerHeight: $searchBarHeight + $numResultRows * $resultSize;

$totalHeight: $drawerHeight * 2;

$entityHeight: $drawerHeight;
$imageSearchHeight: $drawerHeight;

#maker {
  position: relative;
  width: $totalWidth;
  height: $totalHeight;

  margin: auto;

  .triple-preview {
    position: relative;
    height: $entityHeight;
    background: white;
    z-index: 20;

    @mixin entityNum($idx) {
      .entity#{$idx} {
        left: $idx / 3 * $totalWidth;
        right: (2 - $idx) / 3 * $totalWidth;
      }
    }

    @include entityNum(0);
    @include entityNum(1);
    @include entityNum(2);

    .entity {
      position: absolute;
      top: 50px;
      bottom: 0;

      border: 1px solid grey;

      $nameHeight: 60px;

      .name-div {
        position: relative;
        height: $nameHeight;

        .name {
          $nameMargin: 5px;

          position: absolute;
          left: $nameMargin;
          right: $nameMargin;
          top: $nameMargin;

          border-style: none;
          border-color: Transparent;
          outline: none;
          resize: none;
          text-align: center;
          font-size: 16pt;
        }
      }

      .image {
        @include image-div;
        @include fill-space;
        top: $nameHeight;

        .instructions {
          @include fill-space;
        }
      }
    }
  }

  .search-window {
    position: relative;
    height: $imageSearchHeight;

    .search-panel {
      position: absolute;

      top: -$imageSearchHeight;
      left: 0;
      right: 0;
      height: $imageSearchHeight - 1;

      background: white;

      border: 1px solid black;
      border-top: none;

      -webkit-transition: top 0.4s;

      .search-bar {
        height: $searchBarHeight;
      }

      .throbber {
        @include fill-space;
        @include image-div;

        background-image: url("/static/assets/throbber.gif");
      }

      .no-results {
        @include fill-space;
        padding-top: ($entityHeight - 16pt) / 2;
        text-align: center;
        font-size: 16pt;
      }

      .result-area {
        position: absolute;
        top: $searchBarHeight;
        left: 0;
        right: 0;
        bottom: 0;

	    .result {
	      position: absolute;
          width: $resultSize;
          height: $resultSize;

          cursor: pointer;

          @include image-div;

          .result-border {
            @include fill-space;

            &:hover {
              border: 5px solid black;
            }
          }
	    }

        @mixin result($num) {
          .result#{$num} {
            left: ($num % $numResultCols) * $resultSize + $searchMargin;
            top: floor($num / $numResultCols) * $resultSize;
          }
        }

        @include result(0);
        @include result(1);
        @include result(2);
        @include result(3);
        @include result(4);
        @include result(5);
        @include result(6);
        @include result(7);
        @include result(8);
        @include result(9);
      }
    }
  }

  @mixin activeSearch($idx) {
    &.show-search-#{$idx} {
      .search-panel#{$idx} {
        top: 0;
      }

      .entity#{$idx} {
        border-bottom: none;
      }
    }
  }

  @include activeSearch(0);
  @include activeSearch(1);
  @include activeSearch(2);
}
