
@import "base";

#maker {
  position: relative;
  width: $tripleWidth;
  height: $totalHeight;

  margin: auto;

  .triple-preview {
    @include fill-space;
    height: $entityHeight;

    background: white;

    .entity {
      @include thirds;

      border: 1px solid grey;

      $nameHeight: 60px;

      .name-div {
        position: relative;
        height: $nameHeight;

        .name {
          $nameMargin: 5px;

          position: absolute;
          left: $nameMargin;
          right: $nameMargin;
          top: $nameMargin;

          border-style: none;
          border-color: Transparent;
          outline: none;
          resize: none;
          text-align: center;
          font-size: 16pt;
        }
      }

      .image-area {
        @include fill-space;
        top: $entityHeight - $tripleWidth / 3;
        background: blue;


        .frame {
          @include image-div;
          @include fill-space;

          background-image: url('http://www.artgalleryframes.com/images/FDN924-G.jpg');
          background-size: 230px 230px;
        }

        .image {
          @include image-div;
          @include fill-space;
        }
      }
    }
  }

  .search-window {
    @include fill-space;
    top: $entityHeight;
    height: $imageSearchHeight;

    .search-panel {
      position: absolute;
      left: 0;
      right: 0;
      height: $imageSearchHeight;

      background: white;

      border: 1px solid black;
      border-top: none;

      -webkit-transition: top 0.4s;

      .search-bar {
        height: $searchBarHeight;
      }

      .throbber {
        @include fill-space;
        @include image-div;

        background-image: url("/static/assets/throbber.gif");
      }

      .no-results {
        @include fill-space;
        padding-top: ($entityHeight - 16pt) / 2;
        text-align: center;
        font-size: 16pt;
      }

      .result-area {
        position: absolute;
        top: $searchBarHeight;
        left: 0;
        right: 0;
        bottom: 0;

	    .result {
	      position: absolute;
          width: $resultSize;
          height: $resultSize;

          cursor: pointer;

          @include image-div;

          .result-border {
            @include fill-space;

            &:hover {
              border: 5px solid black;
            }
          }
	    }

        @mixin result($num) {
          .result#{$num} {
            left: ($num % $numResultCols) * $resultSize + $searchMargin;
            top: floor($num / $numResultCols) * $resultSize;
          }
        }

        @include result(0);
        @include result(1);
        @include result(2);
        @include result(3);
        @include result(4);
        @include result(5);
        @include result(6);
        @include result(7);
        @include result(8);
        @include result(9);
      }
    }
  }

  @mixin activeSearch($idx) {
    .search-panel#{$idx} {
      top: -$imageSearchHeight;
    }

    &.show-search-#{$idx} {
      .search-panel#{$idx} {
        top: 0;
      }

      .entity#{$idx} {
        border-bottom: none;
      }
    }
  }

  @include activeSearch(0);
  @include activeSearch(1);
  @include activeSearch(2);
}
