
//$tripleWidth: 642px;

$voteButtonHeight: 30px;
$voteButtonMargin: 7px;

$entityTitleHeight: 30px;

// Entity stuff.
$entityImageBoxSide: $tripleWidth / 3;
$entityWidth: $tripleWidth / 3;

$entitiesHeight: $entityTitleHeight + $entityImageBoxSide;

// You would.
$youWouldHeight: $voteButtonHeight;

$voteHeight: 5 * $voteButtonMargin + 4 * $voteButtonHeight;

$tripleHeight: $entitiesHeight + $voteHeight;
// $voteHeight: 132px;

//div { background: rgba(0,0,0,0.1)}


//$entityHeight: 212px;

//$imageHeight: $entityHeight - 30px;

//$voteButtonAreaHeight: $tripleHeight - $entityHeight;
//$voteButtonMargin: 4px;

// Makes enough room for 4 buttons.
//$voteButtonHeight: ($voteButtonAreaHeight - 3 * $voteButtonMargin) / 4;

//$chartHeight: 104;

$voteTransition: 300ms;

@mixin vote-submitted {
  @for $entityNum from 0 through 2 {
    @each $vote in marry, fuck, kill {
      .triple.voted.s#{$vote}#{$entityNum} &.#{$vote}#{$entityNum} {
        @content;
      }
    }
  }
}

@mixin voteable {

}

.triple-body {
  position: relative;

  .entities {
	position: relative;
    height: $entitiesHeight;

    margin: auto;
    width: $tripleWidth;

    .entity {
      @include thirds;

	  border: 1px solid black;
	  margin: 10px;
	  box-shadow: 3px 3px;

      .name {
        text-align: center;
        font-size: 18pt;
      }

      .image {
        @include fill-space;
        top: $entityTitleHeight;
        height: $entityImageBoxSide;
        @include image-div;
      }
    }
  }

  .vote-mask {
    overflow: hidden;

    .vote-area {
	  position: relative;
      margin: auto;

      width: $tripleWidth;
      height: $voteHeight;

	  .vote-columns {
        @include fill-space;


	    .vote-column {
		  @include thirds;

		  .vote-button {
		    position: absolute;
		    left: $voteButtonMargin;
		    right: $voteButtonMargin;
		    height: $voteButtonHeight;

		    font-size: 14pt;

		    -webkit-transition: top $voteTransition, background-color $voteTransition, border $voteTransition;
          /* width: $entityWidth - 2 * $voteButtonMargin; */
          /* margin: $voteButtonMargin; */
		  }
	    }
	  }

	  .results {
        position: absolute;
        height: $voteHeight;
        left: 0;
        right: 0;

        background: white;

        -webkit-transition: top $voteTransition;

        //      height: $voteHeight;
        //     top: $voteHeight + 100px;
        //position: absolute;
        //      top: 0;
        //      height: $voteHeight;

	    .us {
		  @include fill-space;
		  height: $youWouldHeight;

          border: 1px solid black;

          .column {
            @include thirds;

            .yourvote {
              @include fill-space;
              text-align: center;
              -webkit-transition: $voteTransition;
            }
          }

          .popup {
            position: absolute;
            right: -100px;
		    -webkit-transition: $voteTransition;
          }
	    }

	    .them {
		  @include fill-space;
		  top: $youWouldHeight + 10;

          border: 1px solid black;
		  -webkit-transition: $voteTransition;

		  .chart {
		    @include thirds;
		  }
          .popup {
            position: absolute;
            right: -100px;
		  -webkit-transition: $voteTransition;
          }
        }
	  }
    }
  }
  .boxes {
    position: absolute;
    left: -100px;
    right: 0;
	-webkit-transition: $voteTransition;
    top: $entitiesHeight;
    div {
      border: 1px solid black;
    }
    .they {
      height: 100px;
    }
  }
}


.newRes {
  margin: auto;
  width: $tripleWidth;
  position: relative;

  .us,.them {
    border: 1px solid black;
    border-radius: 10px;


    &:hover {
      background: yellow;
    }
  }

  .us {
    position: relative;
    height: 30px;
    margin-bottom: 5px;

    .yourvote2 {
      @include thirds;
      top:5px !important;
      text-align: center;
    }
  }
  .them {
    position: relative;
    height: 120px;

    .chart {
      @include thirds;
      top:5px !important;
      text-align: center;
    }
  }

  margin-bottom: 100px;
}

// Dynamic stuff.

@mixin vote-selected($class) {
  @for $entityNum from 0 through 2 {
    @each $vote in marry, fuck, kill {
      &.s#{$vote}#{$entityNum} #{$class}.s#{$vote}#{$entityNum} {
        @content;
      }
    }
  }
}

// Unvoted.
.triple {
  @for $i from 1 through 3 {
	.vote-button:nth-child(#{$i}) {
	  top: $voteButtonMargin +
	  ($i - 1) * ($voteButtonHeight + $voteButtonMargin);
	}
  }

  .yourvote {
    opacity: 0;
  }

  @include vote-selected('.yourvote') {
    opacity: 1;
  }

  @include vote-selected('.vote-button') {
	font-weight: bold;
	font-size: 16pt;
  }

  .results {
    top: -$voteHeight;
  }

  .charts {
  /* top: $tripleHeight; */
  }
}

// Voted.
.triple.voted {
  /* .vote-button { */
  /*   opacity: 0; */
  /* } */

  /* @include vote-selected('.vote-button') { */
  /*   background-color: white; */
  /*   border: 0; */
  /*   font-weight: bold; */
  /*   font-size: 16pt; */
  /*   top: 0; */
  /*   opacity: 1; */
  /* } */

  .results {
    top: 0;
  }


  .charts {
  /* top: $tripleHeight - $voteHeight; */
  }
}

.results .popup {
  opacity: 0;
}

.results .us:hover .popup, .results .them:hover .popup {
  opacity: 1;
}


//	.charts {
  //		@include fill-space;
//
//		top: $tripleHeight - $voteHeight;
//	}
//
//	.you-would {
  //		position: relative;
//		height: $youWouldHeight;
//
//		.d {
//			text-align: center;
//			@include thirds;
//		}
//	}
//
//
//  .vote-area {
  //		@include fill-space;
//
//    border: 1px solid black;
//
//    overflow: hidden;
//
//    .vote-buttons {
//      @include fill-space;
//
//      -webkit-transition: top $voteTransition;
//
//      .vote-entity {
//        @include thirds;
//        padding: $voteButtonMargin;
//
//      }
//    }
//
//    .responses {
//      @include fill-space;
//      top: $voteHeight;
//      height: $voteHeight;
//
//      background: white;
//
//      -webkit-transition: $voteTransition;
//
//      .user-title, .others-title {
//        font-size: 8pt;
//        text-align: center;
//        font-family: 'Krona One', sans-serif;
//      }
//
//      .user {
//        position: relative;
//        height: 20px;
//
//        .user-responses {
//          @include thirds;
//          .response {
//            text-align: center;
//
//            display: none;
//
//            @include vote-selected {
//              display: block;
//            }
//          }
//        }
//      }
//
//      .others {
//        position: relative;
//        height: $voteHeight;
//
//        .chart {
//          @include thirds;
//        }
//      }
//    }
//  }
//}

.triple.unvoted {
  .vote-buttons {
    opacity: 1;
  }
  .responses {
    top: $voteHeight;
  }
}

.triple.voted {
  .vote-buttons {
    opacity: 0;
  }
  .responses {
    top: 0;
  }
}

.triple.voted {
  .button-area {
    .chart {
      opacity: 1;
    }
  }
}

.single-triple {
  .action-bar {
    text-align: center;
    margin: 30px 0;
  }

  .triple.unvoted {
    .action-bar {
      .next, .change, .vote {
        display: none;
      }
    }

    &.smarry0.sfuck1.skill2,
    &.smarry0.sfuck2.skill1,
    &.smarry1.sfuck0.skill2,
    &.smarry1.sfuck2.skill0,
    &.smarry2.sfuck0.skill1,
    &.smarry2.sfuck1.skill0 {
      .action-bar {
        .vote {
          display: inline-block;
        }
        .disabledVote {
          display: none;
        }
      }
    }
  }

  .triple.voted {
    .action-bar {
      .vote, .disabledVote, .skip {
        display: none;
      }
    }
  }
}