
$tripleWidth: 642px;
$tripleHeight: 344px;
$voteHeight: 132px;


$entityWidth: $tripleWidth / 3;
$entityHeight: 212px;

$imageHeight: $entityHeight - 30px;

$voteButtonAreaHeight: $tripleHeight - $entityHeight;
$voteButtonMargin: 4px;

// Makes enough room for 4 buttons.
$voteButtonHeight: ($voteButtonAreaHeight - 3 * $voteButtonMargin) / 4;

$chartHeight: 104;

$voteTransition: 400ms;

@mixin vote-selected {
  @for $entityNum from 0 through 2 {
    @each $vote in marry, fuck, kill {
      .s#{$vote}#{$entityNum} &.on#{$vote}#{$entityNum} {
        @content;
      }
    }
  }
}

@mixin thirds($width) {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      @include fill-space;
      left: ($i - 1) * ($width / 3);
      right: (3 - $i) * ($width / 3);
    }
  }
}

.triple-body {
  position: relative;
  margin: auto;

  width: $tripleWidth;

  .entities {
    height: $entityHeight;

    .entity {
      @include thirds($tripleWidth);

      .name {
        text-align: center;
        font-size: 18pt;
      }

      .image {
        @include fill-space;
        top: $entityHeight - $imageHeight;
        height: $imageHeight;
        @include image-div;
      }
    }
  }

  .vote-area {
    position: relative;
    width: $tripleWidth;
    height: $voteHeight;

    border: 1px solid black;

    overflow: hidden;

    .vote-buttons {
      @include fill-space;

      -webkit-transition: $voteTransition;

      .vote-entity {
        @include thirds($tripleWidth);
        padding: $voteButtonMargin;

        .vote-button {
          -webkit-transition: $voteTransition;
          height: $voteButtonHeight;
          width: 100%;
          margin: $voteButtonMargin;

          @include vote-selected {
            font-weight: bold;
          }
        }
      }
    }

    .responses {
      @include fill-space;
      top: $voteHeight;
      height: $voteHeight;

      background: white;

      -webkit-transition: $voteTransition;

      .user-title, .others-title {
        font-size: 8pt;
        text-align: center;
        font-family: 'Krona One', sans-serif;
      }

      .user {
        position: relative;
        height: 20px;

        .user-responses {
          @include thirds($tripleWidth);
          .response {
            text-align: center;

            display: none;

            @include vote-selected {
              display: block;
            }
          }
        }
      }

      .others {
        position: relative;
        height: $chartHeight;

        .chart {
          @include thirds($tripleWidth);
        }
      }
    }
  }
}

.triple.unvoted {
  .vote-buttons {
    opacity: 1;
  }
  .responses {
    top: $voteHeight;
  }
}

.triple.voted {
  .vote-buttons {
    opacity: 0;
  }
  .responses {
    top: 0;
  }
}

.triple.voted {
  .button-area {
    .chart {
      opacity: 1;
    }
  }
}

.single-triple {
  .action-bar {
    text-align: center;
    margin: 30px 0;
  }

  .triple.unvoted {
    .action-bar {
      .next, .change, .vote {
        display: none;
      }
    }

    &.smarry0.sfuck1.skill2,
    &.smarry0.sfuck2.skill1,
    &.smarry1.sfuck0.skill2,
    &.smarry1.sfuck2.skill0,
    &.smarry2.sfuck0.skill1,
    &.smarry2.sfuck1.skill0 {
      .action-bar {
        .vote {
          display: inline-block;
        }
        .disabledVote {
          display: none;
        }
      }
    }
  }

  .triple.voted {
    .action-bar {
      .vote, .disabledVote, .skip {
        display: none;
      }
    }
  }
}