// vim: tabstop=8 shiftwidth=4

$gutterSize: 10px;
$imageSize: 200px;

@mixin common-body {
    font-family: sans-serif;
    background: #9911bb;
}

@mixin shadow-box {
    box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
    border: 1px solid lightgrey;
}

@mixin common-content {
    @include shadow-box;
}

.titleImage {
    margin: 20px 0;
    border: 0;
}

