
@import "maker";

$buttonMargin: 4px;
$buttonHeight: 30px;

div {
  /* border: 1px solid black; */
  /* margin: -1px; */
//  background: rgba(0, 0, 0, 0.1);
}

.triple {
  .entities {
    width: 640px;
    height: 344px;
    position: relative;
    margin: auto;
  }

  .entity {
    position: absolute;
    width: 210px;
    top: 0;
  }

  .entity .name {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    text-align: center;
    font-size: 18pt;
  }

  .entity .image {
    margin-top: 30px;
    height: 180px;
  }

  .entity .image .centerbox {
    display: table-cell;
    height: 180px;
    width: 210px;
    vertical-align: middle;
    text-align: center;
  }

  .entity0 {
    left: 0;
  }

  .entity1 {
    left: 215px;
  }

  .entity2 {
    right: 0px;
  }

  .button-area {
    height: 3 * $buttonMargin + 4 * $buttonHeight;
    position: relative;
  }

  $transition: 150ms;

  .vote-button {
    position: absolute;
    height: $buttonHeight;
    width: 202px;
    left: $buttonMargin;
    text-align: center;
    z-index: 1;
    font-size: 12pt;

    -webkit-transition: $transition;
  }

  .chart {
    position: absolute;
    top: $buttonHeight + $buttonMargin * 2 - 10px;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;
    border: none;
    margin: 0;

    -webkit-transition: opacity $transition;
  }

  .vote-button.marry {
    top: ($buttonMargin + $buttonHeight) / 2;
  }

  .vote-button.fuck {
    top: ($buttonMargin + $buttonHeight) * 3 / 2
  }

  .vote-button.kill {
    top: ($buttonMargin + $buttonHeight) * 5 / 2
  }

  &.voted .chart {
    opacity: 1;
  }

  @mixin selectedVote($entityNum, $vote) {
    &.voted.s#{$vote}#{$entityNum} .entity#{$entityNum} {
      .vote-button.#{$vote} {
        top: $buttonMargin;
        opacity: 1;
        background: white;
        border: 0;
      }

      .chart.#{$vote} {
        opacity: 1;
      }
    }

    &.s#{$vote}#{$entityNum} .entity#{$entityNum} .vote-button.#{$vote} {
      font-weight: bold;
      font-size: 13pt;
    }
  }

  @include selectedVote(0, marry);
  @include selectedVote(1, marry);
  @include selectedVote(2, marry);

  @include selectedVote(0, fuck);
  @include selectedVote(1, fuck);
  @include selectedVote(2, fuck);

  @include selectedVote(0, kill);
  @include selectedVote(1, kill);
  @include selectedVote(2, kill);

  button.vote {
    display: none;
  }

  &.unvoted {
    &.smarry0.sfuck1.skill2,
    &.smarry0.sfuck2.skill1,
    &.smarry1.sfuck0.skill2,
    &.smarry1.sfuck2.skill0,
    &.smarry2.sfuck0.skill1,
    &.smarry2.sfuck1.skill0 {
      button.vote {
        display: inline-block;
      }
      button.disabledVote {
        display: none;
      }
    }
  }

  &.voted .vote-button {
    opacity: 0;
    top: $buttonMargin;
  }
}
