
@import "maker";

$buttonMargin: 4px;
$buttonHeight: 30px;

div {
  /* border: 1px solid black; */
  /* margin: -1px; */
//  background: rgba(0, 0, 0, 0.1);
}

.triple {
  .entities {
	width: 640px;
	height: 344px;
	position: relative;
	margin: auto;
  }

  .entity {
	position: absolute;
	width: 210px;
	top: 0;
  }

  .entity .name {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
  }

  .entity .image {
	margin-top: 30px;
	height: 180px;
  }

  .entity .image .centerbox {
	display: table-cell;
	height: 180px;
	width: 210px;
	vertical-align: middle;
	text-align: center;
  }

  .entity0 {
	left: 0;
  }

  .entity1 {
	left: 215px;
  }

  .entity2 {
	right: 0px;
  }

  .button-area {
	height: 3 * $buttonMargin + 4 * $buttonHeight;
	position: relative;
  }

  .vote-button {
	position: absolute;
	height: $buttonHeight;
	width: 202px;
	left: $buttonMargin;
	text-align: center;
	z-index: 1;
	font-size: 12pt;

	-webkit-transition: 150ms;
  }

  .chart {
	position: absolute;
	bottom: $buttonMargin;
	left: $buttonMargin;

	-webkit-transition: opacity 150ms;
  }

  .vote-button.marry {
	top: ($buttonMargin + $buttonHeight) / 2;
  }

  .vote-button.fuck {
	top: ($buttonMargin + $buttonHeight) * 3 / 2
  }

  .vote-button.kill {
	top: ($buttonMargin + $buttonHeight) * 5 / 2
  }

  .chart {
	opacity: 0;
	border: none;
	margin: 0;
  }

  .triple.voted .vote-button {
	opacity: 0;
  }

  .triple.voted.smarry0 .entity0 .vote-button.marry,
  .triple.voted.smarry1 .entity1 .vote-button.marry,
  .triple.voted.smarry2 .entity2 .vote-button.marry,

  .triple.voted.sfuck0 .entity0 .vote-button.fuck,
  .triple.voted.sfuck1 .entity1 .vote-button.fuck,
  .triple.voted.sfuck2 .entity2 .vote-button.fuck,

  .triple.voted.skill0 .entity0 .vote-button.kill,
  .triple.voted.skill1 .entity1 .vote-button.kill,
  .triple.voted.skill2 .entity2 .vote-button.kill {
	top: $buttonMargin;
	opacity: 1;
	background: white;
	border: 0;
  }

  .triple.smarry0 .entity0 .vote-button.marry,
  .triple.smarry1 .entity1 .vote-button.marry,
  .triple.smarry2 .entity2 .vote-button.marry,

  .triple.sfuck0 .entity0 .vote-button.fuck,
  .triple.sfuck1 .entity1 .vote-button.fuck,
  .triple.sfuck2 .entity2 .vote-button.fuck,

  .triple.skill0 .entity0 .vote-button.kill,
  .triple.skill1 .entity1 .vote-button.kill,
  .triple.skill2 .entity2 .vote-button.kill {
	font-weight: bold;
	font-size: 13pt;
  }

  .triple.voted.smarry0 .entity0 .chart.marry,
  .triple.voted.smarry1 .entity1 .chart.marry,
  .triple.voted.smarry2 .entity2 .chart.marry,

  .triple.voted.sfuck0 .entity0 .chart.fuck,
  .triple.voted.sfuck1 .entity1 .chart.fuck,
  .triple.voted.sfuck2 .entity2 .chart.fuck,

  .triple.voted.skill0 .entity0 .chart.kill,
  .triple.voted.skill1 .entity1 .chart.kill,
  .triple.voted.skill2 .entity2 .chart.kill {
	opacity: 1;
  }


  button.vote {
	display: none;
  }

  .triple.unvoted.smarry0.sfuck1.skill2,
  .triple.unvoted.smarry0.sfuck2.skill1,

  .triple.unvoted.smarry1.sfuck0.skill2,
  .triple.unvoted.smarry1.sfuck2.skill0,

  .triple.unvoted.smarry2.sfuck0.skill1,
  .triple.unvoted.smarry2.sfuck1.skill0 {
	button.vote {
	  display: inline-block;
	}
	button.disabledVote {
	  display: none;
	}
  }

  .triple.voted.smarry1 .entity1 .chart.marry,
  .triple.voted.smarry2 .entity2 .chart.marry,

  .triple.voted.sfuck0 .entity0 .chart.fuck,
  .triple.voted.sfuck1 .entity1 .chart.fuck,
  .triple.voted.sfuck2 .entity2 .chart.fuck,

  .triple.voted.skill0 .entity0 .chart.kill,
  .triple.voted.skill1 .entity1 .chart.kill,
  .triple.voted.skill2 .entity2 .chart.kill {
	opacity: 1;
  }

  .triple.voted .vote-button.unselected {
	opacity: 0;
  }
}

.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
}