<!doctype html>
<html lang="en" ng-app="mfkMaker">
  <head>
    [define title]Marry, Fuck, Kill: Make your own![end]
    [include "head.html"]
  </head>
  <body id="mfk-maker" ng-controller="Page" ng-keydown="page.onKeyDown($event)">
    <center>
      <a href="/">
        <img src="/s/assets/title.png" class="titleImage" alt="Marry Fuck Kill">
      </a>
    </center>

    <div id="page">
      <h2>The MFK Maker is disabled. :(</h2>
      <p>Sorry, the custom searches have been costing too much money.</p>
      <p>Try <a href="/">voting on some MFKs</a>!</p>
      [include "nav.html"]
    </div>
    [insertfile "foot.html"]

    <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script-->
    <script src="/s/deps/angular.js"></script>
    <script src="/s/js/app.js"></script>
    <script src="/s/js/services.js"></script>
    <script src="/s/js/controllers.js"></script>

    [insertfile "analytics.html"]

  </body>
</html>
