<!doctype html>
<html>
  <head>
    [define title]Review new MFKs[end]
    [include "head.html"]
  </head>

  <body id="body">
    [insertfile "header.html"]
    <div id="page">
      <h2>[count][if-any count_max]+[end] triples to review</h2>
      [for triples]
      <a href="/vote/[triples.id_string]">
        <table class="tripletable statstable">
          <tr class="title-row">
            <td>[triples.one.name]</td>
            <td>[triples.two.name]</td>
            <td>[triples.three.name]</td>
          </tr>
          <tr class="image-row">
            <td>
              <img src="[triples.one.image_url]">
            </td>
            <td>
              <img src="[triples.two.image_url]">
            </td>
            <td>
              <img src="[triples.three.image_url]">
            </td>
          </tr>
        </table>
      </a>
        [if-any triples.enabled_or_none]
           rand = [triples.rand]
          <form action="/admin/enable_disable" method="post" id="adminform" target="_blank">
          <input type="hidden" name="key" value="[triples.id_string]">
          <input type="submit" name="action" value="disable">
          </form>
        [else]
          <span class="admin-disabled">rand = [triples.rand] (disabled)</span><br>
        [end]
        Created [triples.time_fmt] (UTC) by [triples.creator_nickname] ([triples.creatorip])<br>
        [triples.total_assignments] votes.<br>
      <hr>
      [end]
      <form action="/admin/review" method="post">
        <input type="hidden" name="ids"
               value="[for triples][triples.id_string],[end]">
        <center>
          <button>Mark all as reviewed</button>
        </center>
      </form>
    </div>
  </body>
</html>
