{{define "tripleList"}}
<html>
  <head>
    {{template "head" ""}}
  </head>
  <body>
    {{range .}}
    <div style="margin-bottom: 20px">
      {{template "triple" .}}
    </div>
    {{end}}
    <script>mfk.depsInit();</script>
    {{template "foot"}}
  </body>
</html>
{{end}}

{{define "triple"}}
<div class="triple {{if .UserVoted}}voted
            {{range $idx, $vote := .VotesPerEntity}}s{{$vote}}{{$idx}} {{end}}
            {{else}}unvoted{{end}}" id="triple{{.Id}}">
  <div class="entities">
    {{range $idx, $entity := .Entities}}
    <div class="entity entity{{$idx}}">
      <div class="name">{{.Name}}</div>
      <div class="image">
        <div class="centerbox">
          <img src="/i/{{$.Id}}/{{$idx}}">
        </div>
      </div>
      <div class="button-area">
        <button class="vote-button marry">Marry</button>
        <button class="vote-button fuck">Fuck</button>
        <button class="vote-button kill">Kill</button>
        <div class="chart"></div>
      </div>
    </div>
  {{end}}
  </div>
  <button class="vote">Vote</button>
  <button class="disabledVote" disabled="disabled">Vote</button>
  <button class="edit">Edit</button>
</div>
<script>new mfk.Triple(
	document.getElementById('triple{{.Id}}'),
	{{.Id}},
    { 'm' : {{.Stats.A.Marry}},
      'f' : {{.Stats.A.Fuck}},
      'k' : {{.Stats.A.Kill}} },
    { 'm' : {{.Stats.B.Marry}},
      'f' : {{.Stats.B.Fuck}},
      'k' : {{.Stats.B.Kill}} },
    { 'm' : {{.Stats.C.Marry}},
      'f' : {{.Stats.C.Fuck}},
      'k' : {{.Stats.C.Kill}} });
</script>
{{end}}

{{define "entity"}}
{{end}}
