{{define "tripleList"}}
<html>
  <head>
    {{template "head" ""}}
  </head>
  <body>
    {{range .}}
    <div style="margin-bottom: 20px">
      {{template "triple" .}}
    </div>
    {{end}}
    {{template "foot"}}
  </body>
</html>
{{end}}

{{define "triple"}}
<div class="triple {{if .UserVoted}}voted s{{.Vote 0}}0 s{{.Vote 1}}1 s{{.Vote 2}}2 {{else}}unvoted{{end}}" id="triple{{.Id}}">
  <div class="entities">
    {{range $idx, $entity := .Entities}}
    <div class="entity entity{{$idx}}">
      <div class="name">{{.Name}}</div>
      <div class="image">
        <div class="centerbox">
          <img src="/i/{{$.Id}}/{{$idx}}">
        </div>
      </div>
      <div class="button-area">
        <button class="vote-button marry">Marry</button>
        <button class="vote-button fuck">Fuck</button>
        <button class="vote-button kill">Kill</button>
        <div class="chart marry"><img src="{{.ChartUrl 1 0 0}}"></div>
        <div class="chart fuck"><img src="{{.ChartUrl 0 1 0}}"></div>
        <div class="chart kill"><img src="{{.ChartUrl 0 0 1}}"></div>
      </div>
    </div>
  {{end}}
  </div>
  <button class="vote">Vote</button>
  <button class="disabledVote" disabled="disabled">Vote</button>
  <button class="edit">Edit</button>
</div>
<script>new mfk.Triple(
	document.getElementById('triple{{.Id}}'), 
	{{.Id}}, 
	{{.MarryCount}},
	{{.FuckCount}},
	{{.KillCount}});
</script>
{{end}}

{{define "entity"}}
{{end}}
