{{define "tripleList"}}
<html>
  <head>
    {{template "head" ""}}
  </head>
  <body>
    {{range .}}
    <div style="margin-bottom: 20px">
      {{template "triple" .}}
    </div>
    {{end}}
    {{template "foot"}}
  </body>
</html>
{{end}}

{{define "singleTriplePage"}}
<html>
  <head>
    {{template "head" ""}}
    <script>mfk.depsInit();</script>
  </head>
  <body>
    <div style="margin-bottom: 20px">
      {{template "singleTriple" .Triple}}
    </div>
    {{template "foot" .}}
  </body>
</html>
{{end}}

{{define "tripleClasses"}}triple
{{if .UserVoted}}voted
{{range $idx, $vote := .VotesPerEntity}}s{{$vote}}{{$idx}} {{end}}
{{else}}unvoted{{end}}{{end}}

{{define "tripleId"}}triple{{.Id}}{{end}}

{{define "tripleBody"}}
<div class="triple-body">
  <div class="entities">
    {{range $idx, $entity := .Entities}}
    <div class="entity">
      <div class="name">{{.Name}}</div>
      <div class="image" style="background-image: url(/i/{{$.Id}}/{{$idx}})">
      </div>
    </div>
    {{end}}
  </div>
  <div class="vote-mask">
    <div class="vote-area">
      <div class="vote-columns">
        {{range $idx, $entity := .Entities}}
        <div class="vote-column">
          <button class="vote-button smarry{{$idx}}">Marry</button>
          <button class="vote-button sfuck{{$idx}}">Fuck</button>
          <button class="vote-button skill{{$idx}}">Kill</button>
        </div>
        {{end}}
      </div>
      <div class="results">
        <div class="us">
          {{range $idx, $entity := .Entities}}
          <div class="column">
            <div class="yourvote smarry{{$idx}}">Marry</div>
            <div class="yourvote sfuck{{$idx}}">Fuck</div>
            <div class="yourvote skill{{$idx}}">Kill</div>
          </div>
          {{end}}
          <div class="popup">&lt;You said</div>
        </div>
        <div class="them">
          {{range $idx, $entity := .Entities}}
          <div class="chart"></div>
          {{end}}
          <div class="popup">&lt;They said</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "singleTriple"}}
<div class="single-triple">
  <div class='{{template "tripleClasses" .}}'
       id='{{template "tripleId" .}}'>
    {{template "tripleBody" .}}
    <div class="action-bar">
      <button class="change">Change</button>
      <button class="next">Next</button>

      <button class="skip">Skip</button>
      <button class="vote">Vote</button>
      <button class="disabledVote" disabled="disabled">Vote</button>
    </div>
  </div>
  <script>new mfk.SingleTriple(
    document.getElementById('triple{{.Id}}'),
    {{.Id}},
    [{ 'm' : {{.Stats.A.Marry}},
       'f' : {{.Stats.A.Fuck}},
       'k' : {{.Stats.A.Kill}} },
     { 'm' : {{.Stats.B.Marry}},
       'f' : {{.Stats.B.Fuck}},
       'k' : {{.Stats.B.Kill}} },
     { 'm' : {{.Stats.C.Marry}},
       'f' : {{.Stats.C.Fuck}},
       'k' : {{.Stats.C.Kill}} }]);
  </script>
</div>
{{end}}

{{define "entity"}}
{{end}}
