
div {
    border: 1px solid black;
    margin: -1px;
}

.triple {
    width: 668px;
    height: 330px;
    margin: auto;
    position: relative;
}

.entity {
    position: absolute;
    height: 300px;
    width: 210px;
}

.entity .name {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.entity .image {
    margin-top: 30px;
    height: 180px;
}
.entity .image .centerbox {
    display: table-cell;
    height: 180px;
    width: 210px;
    vertical-align: middle;
    text-align: center;
}

.entity.a {
    top: 15px;
    left: 15px;
}

.entity.b {
    top: 15px;
    left: 229px;
}

.entity.c {
    top: 15px;
    right: 15px;
}