#maker .entity {
  margin: 30px auto;
  position: relative;
  border: 1px solid grey;
  width: 915px;
  height: 270px; }
  #maker .entity .preview {
    width: 220px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 1px solid grey; }
    #maker .entity .preview .name {
      position: absolute;
      left: 10px;
      right: 10px;
      font-size: 16pt;
      text-align: center; }
    #maker .entity .preview .image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: center; }
  #maker .entity .imagesearch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 220px;
    right: 0; }
    #maker .entity .imagesearch .searchbar {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      overflow: hidden;
      height: 0px; }
    #maker .entity .imagesearch .result-area {
      position: absolute;
      top: 0px;
      left: 10px;
      right: 10px;
      height: 270px; }
      #maker .entity .imagesearch .result-area .result {
        position: absolute;
        width: 135px;
        height: 135px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center; }
        #maker .entity .imagesearch .result-area .result .result-border {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
          #maker .entity .imagesearch .result-area .result .result-border:hover {
            border: 5px solid black; }
      #maker .entity .imagesearch .result-area .result.empty {
        display: none; }
      #maker .entity .imagesearch .result-area .result0 {
        left: 0px;
        top: 0px; }
      #maker .entity .imagesearch .result-area .result1 {
        left: 135px;
        top: 0px; }
      #maker .entity .imagesearch .result-area .result2 {
        left: 270px;
        top: 0px; }
      #maker .entity .imagesearch .result-area .result3 {
        left: 405px;
        top: 0px; }
      #maker .entity .imagesearch .result-area .result4 {
        left: 540px;
        top: 0px; }
      #maker .entity .imagesearch .result-area .result5 {
        left: 0px;
        top: 135px; }
      #maker .entity .imagesearch .result-area .result6 {
        left: 135px;
        top: 135px; }
      #maker .entity .imagesearch .result-area .result7 {
        left: 270px;
        top: 135px; }
      #maker .entity .imagesearch .result-area .result8 {
        left: 405px;
        top: 135px; }
      #maker .entity .imagesearch .result-area .result9 {
        left: 540px;
        top: 135px; }

div {
  /* border: 1px solid black; */
  /* margin: -1px; */
  background: rgba(0, 0, 0, 0.1); }

.tripletable .entities {
  width: 640px;
  height: 344px;
  position: relative;
  margin: auto; }
.tripletable .entity {
  position: absolute;
  width: 210px;
  top: 0; }
.tripletable .entity .name {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
.tripletable .entity .image {
  margin-top: 30px;
  height: 180px; }
.tripletable .entity .image .centerbox {
  display: table-cell;
  height: 180px;
  width: 210px;
  vertical-align: middle;
  text-align: center; }
.tripletable .entity0 {
  left: 0; }
.tripletable .entity1 {
  left: 215px; }
.tripletable .entity2 {
  right: 0px; }
.tripletable .button-area {
  height: 132px;
  position: relative; }
.tripletable .vote-button {
  position: absolute;
  height: 30px;
  width: 202px;
  left: 4px;
  text-align: center;
  z-index: 1;
  font-size: 12pt;
  -webkit-transition: 150ms; }
.tripletable .chart {
  position: absolute;
  bottom: 4px;
  left: 4px;
  -webkit-transition: opacity 150ms; }
.tripletable .vote-button.marry {
  top: 17px; }
.tripletable .vote-button.fuck {
  top: 51px; }
.tripletable .vote-button.kill {
  top: 85px; }
.tripletable .chart {
  opacity: 0;
  border: none;
  margin: 0; }
.tripletable .triple.voted .vote-button {
  opacity: 0; }
.tripletable .triple.voted.smarry0 .entity0 .vote-button.marry,
.tripletable .triple.voted.smarry1 .entity1 .vote-button.marry,
.tripletable .triple.voted.smarry2 .entity2 .vote-button.marry,
.tripletable .triple.voted.sfuck0 .entity0 .vote-button.fuck,
.tripletable .triple.voted.sfuck1 .entity1 .vote-button.fuck,
.tripletable .triple.voted.sfuck2 .entity2 .vote-button.fuck,
.tripletable .triple.voted.skill0 .entity0 .vote-button.kill,
.tripletable .triple.voted.skill1 .entity1 .vote-button.kill,
.tripletable .triple.voted.skill2 .entity2 .vote-button.kill {
  top: 4px;
  opacity: 1;
  background: white;
  border: 0; }
.tripletable .triple.smarry0 .entity0 .vote-button.marry,
.tripletable .triple.smarry1 .entity1 .vote-button.marry,
.tripletable .triple.smarry2 .entity2 .vote-button.marry,
.tripletable .triple.sfuck0 .entity0 .vote-button.fuck,
.tripletable .triple.sfuck1 .entity1 .vote-button.fuck,
.tripletable .triple.sfuck2 .entity2 .vote-button.fuck,
.tripletable .triple.skill0 .entity0 .vote-button.kill,
.tripletable .triple.skill1 .entity1 .vote-button.kill,
.tripletable .triple.skill2 .entity2 .vote-button.kill {
  font-weight: bold;
  font-size: 13pt; }
.tripletable .triple.voted.smarry0 .entity0 .chart.marry,
.tripletable .triple.voted.smarry1 .entity1 .chart.marry,
.tripletable .triple.voted.smarry2 .entity2 .chart.marry,
.tripletable .triple.voted.sfuck0 .entity0 .chart.fuck,
.tripletable .triple.voted.sfuck1 .entity1 .chart.fuck,
.tripletable .triple.voted.sfuck2 .entity2 .chart.fuck,
.tripletable .triple.voted.skill0 .entity0 .chart.kill,
.tripletable .triple.voted.skill1 .entity1 .chart.kill,
.tripletable .triple.voted.skill2 .entity2 .chart.kill {
  opacity: 1; }
.tripletable button.vote {
  display: none; }
.tripletable .triple.unvoted.smarry0.sfuck1.skill2 button.vote,
.tripletable .triple.unvoted.smarry0.sfuck2.skill1 button.vote,
.tripletable .triple.unvoted.smarry1.sfuck0.skill2 button.vote,
.tripletable .triple.unvoted.smarry1.sfuck2.skill0 button.vote,
.tripletable .triple.unvoted.smarry2.sfuck0.skill1 button.vote,
.tripletable .triple.unvoted.smarry2.sfuck1.skill0 button.vote {
  display: inline-block; }
.tripletable .triple.unvoted.smarry0.sfuck1.skill2 button.disabledVote,
.tripletable .triple.unvoted.smarry0.sfuck2.skill1 button.disabledVote,
.tripletable .triple.unvoted.smarry1.sfuck0.skill2 button.disabledVote,
.tripletable .triple.unvoted.smarry1.sfuck2.skill0 button.disabledVote,
.tripletable .triple.unvoted.smarry2.sfuck0.skill1 button.disabledVote,
.tripletable .triple.unvoted.smarry2.sfuck1.skill0 button.disabledVote {
  display: none; }
.tripletable .triple.voted.smarry1 .entity1 .chart.marry,
.tripletable .triple.voted.smarry2 .entity2 .chart.marry,
.tripletable .triple.voted.sfuck0 .entity0 .chart.fuck,
.tripletable .triple.voted.sfuck1 .entity1 .chart.fuck,
.tripletable .triple.voted.sfuck2 .entity2 .chart.fuck,
.tripletable .triple.voted.skill0 .entity0 .chart.kill,
.tripletable .triple.voted.skill1 .entity1 .chart.kill,
.tripletable .triple.voted.skill2 .entity2 .chart.kill {
  opacity: 1; }
.tripletable .triple.voted .vote-button.unselected {
  opacity: 0; }

.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute; }

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited {
  color: #06c;
  cursor: pointer; }

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0; }

.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;
  position: relative;
  _zoom: 1;
  /* Ensures proper width in IE6 RTL. */ }

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle; }

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px; }

.goog-buttonset-default {
  font-weight: bold; }
