<!doctype html>
<html>
  <head>
    [define title]What is MFK?[end]
    [include "head.html"]
  </head>

  <body id="body">
    [include "header.html"]
    <div id="page">
      <h2>What is it?</h2>
      <p>
        Marry-Fuck-Kill (MFK) is a simple game. You are given three
        things. Choose one to marry, one to fuck, and one to kill.
        These things could be people, places, concepts, or commom
        household objects. The harder the choice, the more interesting
        the MFK!
      </p>
      <p>
        The real life version of the game comes in handy when your
        flight out of Costa Rica is delayed three hours and the
        airport staff won't let you buy more beer with your food
        vouchers.
      </p>

      <h2>Who made it?</h2>
      <p>
        The original game is as old as time itself.<br>
        Web game concept by
        <a href="http://www.imdb.com/name/nm4268444/">Anna</a>
        and
        <a href="http://michaelkelly.org">Michael</a>.<br>
        Programming by <a href="http://hjfreyer.com">Hunter</a>
        and Michael.<br>
      </p>
      <p>
        All code is on
        <a href="https://github.com/hjfreyer/marry-fuck-kill">GitHub</a>,
        Apache 2.0 license.
      </p>
      <center>
        <img src="/s/appengine.gif" alt="Powered by Google App Engine">
      </center>
      [include "nav.html"]
    </div>
    [insertfile "foot.html"]
  </body>
</html>
