<!doctype html>
<html>
  <head>
    [define title]Make Your Own[end]
    [include "head.html"]
    <!-- Add any GWT meta tags before this line. -->
    <script type="text/javascript" language="javascript" src="/s/gwt/mfkmaker/mfkmaker.nocache.js"></script>
    <!-- For Google AJAX Search API. Can remove 'key' param for local testing. -->
    <script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;gwt=1&amp;key=ABQIAAAA4AIACTDq7g0UgEEe0e4XcBScM50iuTtmL4hn6SVBcuHEk5GnyBRYi46EgwfJeghlh-_jWgC9BbPapQ"></script>
  </head>

  <body id="body">
    [include "header.html"]
    <div id="page">
      <table class="tripletable">
        <tr class="title-row">
          <td><div id="name_1"></div></td>
          <td><div id="name_2"></div></td>
          <td><div id="name_3"></div></td>
        </tr>
        <tr class="image-row">
          <td>
            <div id="image_1"></div>
          </td>
          <td>
            <div id="image_2"></div>
          </td>
          <td>
            <div id="image_3"></div>
          </td>
        </tr>
        <tr class="edit-row">
          <td>
            <div id="edit_1"></div>
          </td>
          <td>
            <div id="edit_2"></div>
          </td>
          <td>
            <div id="edit_3"></div>
          </td>
        </tr>
      </table>
      <div class="actionbar" id="createButton"></div>
      <div id="outputForm"></div>
      <div class="topText">
        Make your own MFK by picking three things with the "Edit"
        buttons above. Other users will vote on which to marry, fuck,
        or kill.

        [if-any nickname][else]
        <p><a href="[login_url]">Log in</a> now if you want to see the
        results later!</p>  [end]
      </div>
      [include "nav.html"]
    </div>
    [insertfile "foot.html"]
  </body>
</html>
