
@mixin full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body#mfk-maker {
    background: #9911bb;
    font-family: sans-serif;
}

body#mfk-maker #maker-area {
    $imageWidth: 200px;
    $imageHeight: 200px;

    $columnWidth: 240px;

    $topBarHeight: 65px;
    $bottomBarHeight: 60px;

    $inputHeight: 34px;
    $lgInputHeight: 46px;

    $tableHeight: $topBarHeight + $imageHeight + $bottomBarHeight;
    $tableWidth: 3 * $columnWidth;

    position: relative;
    margin: auto;

    width: $tableWidth;
    height: $tableHeight;

    box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
    background: white;
    overflow: hidden;

    @for $idx from 0 through 2 {
	.entity-#{$idx} {
	    .info {
		left: $columnWidth * $idx;
	    }
	}
    }

    .entity {
	.info {
	    position: absolute;
	    top: 0;
	    width: $columnWidth;
	    height: $topBarHeight + $imageHeight;

	    .name {
		padding: ($topBarHeight - $lgInputHeight) / 2;
		input { text-align: center; }
	    }

	    .image {
		margin: 0 ($columnWidth - $imageWidth) / 2;

		position: absolute;
		width: $imageWidth;
		height: $imageHeight;
		left: 0;
		top: $topBarHeight;

		background-repeat: no-repeat;
		background-position: center;

		cursor: pointer;

		&:hover {

		}
	    }
	}

	.image-search {
	    position: absolute;
	    top: -$tableHeight;
	    left: 0;
	    z-index: 10;

	    transition: 240ms top;

	    width: $tableWidth;
	    height: $tableHeight;

	    background: white;
	    border-bottom: 1px solid grey;

	    &.shown {
		top: 0;
	    }

	    $toolbarHeight: 50px;
	    $inputHeight: 34px;

	    .toolbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $toolbarHeight;

		padding: ($toolbarHeight - $inputHeight) / 2;

		border-bottom: 1px solid lightgrey;
	    }

	    .results {
		position: absolute;
		top: $toolbarHeight;
		bottom: 0;
		left: 0;
		right: 0;

		padding: ($toolbarHeight - $inputHeight) / 2;

		overflow-y: auto;

		.result {
		    height: 100px;
		    margin: 0 5px 5px 0;
		    cursor: pointer;
		}
	    }
	    .watermark {
		position: absolute;
		bottom: 5px;
		right: 5px;

		opacity: 0.3;
	    }
	}
    }

    .bottom-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $bottomBarHeight;

	$margin: ($bottomBarHeight - $inputHeight) / 2;

	.reset {
	    position: absolute;
	    bottom: $margin;
	    left: $margin;
	}

	.submit {
	    position: absolute;
	    bottom: $margin;
	    right: $margin;
	}

	.help-text {
	    $lineHeight: 20px;

	    position: absolute;
	    bottom: $margin;
	    left: 200px;
	    right: 200px;
	    margin: 0;
	    padding: ($inputHeight - $lineHeight)/2 15px;
	    opacity: 0;
	    text-align: center;

	    transition: 200ms opacity;

	    &.shown {
		opacity: 1;
	    }
	}
    }

    /* .search-dialog { */
    /* 	position: absolute; */
    /* 	background: lightblue; */
    /* 	width: 2 * $width; */
    /* 	height: $height; */
    /* 	top: 0; */
    /* 	transition: 200ms left; */

    /* 	overflow: hidden; */

    /* 	.name-picker { */
    /* 	    width: $width; */
    /* 	    height: $height; */
    /* 	    position: absolute; */
    /* 	    top: 0; */
    /* 	    left: 0; */
    /* 	} */

    /* 	.image-picker { */
    /* 	    width: $width; */
    /* 	    height: $height; */
    /* 	    position: absolute; */
    /* 	    top: 0; */
    /* 	    right: 0; */
    /* 	} */

    /* 	&.animated { */
    /* 	} */

    /* 	&.first { */
    /* 	    left: $width; */
    /* 	} */

    /* 	&.second { */
    /* 	    left: -2 * $width; */
    /* 	} */

    /* 	&.first.shown { */
    /* 	    left: 0; */
    /* 	} */

    /* 	&.second.shown { */
    /* 	    left: -$width; */
    /* 	} */
    /* } */
}
