@mixin full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body#mfk-maker {
    background: #9911bb;
    font-family: sans-serif;
}

body#mfk-maker #maker-area {
    $gutterSize: 10px;
    $imageSize: 200px;

    $inputHeight: 34px;
    $lgInputHeight: 46px;

    $columnWidth: $imageSize + $gutterSize;

    $topBarHeight: $lgInputHeight + $gutterSize;
    $middleHeight: $imageSize + $gutterSize;
    $bottomBarHeight: $inputHeight + $gutterSize;

    $tableWidth: 3 * $columnWidth + $gutterSize;
    $tableHeight: $topBarHeight + $middleHeight + $bottomBarHeight + $gutterSize;

    position: relative;
    margin: auto;

    width: $tableWidth;
    height: $tableHeight;

    box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
    background: white;
    overflow: hidden;

    .name {
	position: absolute;
	top: $gutterSize / 2;

	width: $imageSize;
	margin: $gutterSize / 2;

	input { text-align: center; }
    }

    .image {
	margin: $gutterSize / 2;

	position: absolute;
	width: $imageSize;
	height: $imageSize;
	top: $topBarHeight + $gutterSize / 2;

	background-repeat: no-repeat;
	background-position: center;

	border: 1px solid lightgrey;

	cursor: pointer;

	.text {
	    position: absolute;
	    bottom: $gutterSize;
	    left: 0;
	    right: 0;
	    text-align: center;

	    display: none;
	}

	&.placeholder {
	    .text {
		display: block;
	    }
	}

	&:hover {
	    border: 1px solid gray;
	}
    }

    .image-search {
	position: absolute;
	top: -$tableHeight;
	left: 0;
	z-index: 10;

	transition: 240ms top;

	width: $tableWidth;
	height: $tableHeight;

	background: white;
	border-bottom: 1px solid grey;

	&.shown {
	    top: 0;
	}

	$toolbarHeight: 50px;
	$inputHeight: 34px;

	.toolbar {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    height: $toolbarHeight;

	    padding: ($toolbarHeight - $inputHeight) / 2;

	    border-bottom: 1px solid lightgrey;
	}

	.results {
	    position: absolute;
	    top: $toolbarHeight;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    padding: ($toolbarHeight - $inputHeight) / 2;

	    overflow-y: auto;

	    .result {
		height: 100px;
		margin: 0 5px 5px 0;
		cursor: pointer;
	    }
	}

	.watermark {
	    position: absolute;
	    bottom: 5px;
	    right: 5px;

	    opacity: 0.3;
	}

	&.searching {
	    .toolbar .search {
		background-image: url(/s/loading.gif);
		background-repeat: no-repeat;
		background-position: center;

		.glyphicon { opacity: 0 }
	    }
	}
    }


    @for $idx from 0 through 2 {
	.name-#{$idx} {
	    left: $gutterSize / 2 + $columnWidth * $idx;
	}

	.image-#{$idx} {
	    left: $gutterSize / 2 + $columnWidth * $idx;
	}

	.entity-#{$idx} {
	    .info {
		left: $columnWidth * $idx;
	    }
	}
    }

    .reset {
	position: absolute;
	bottom: $gutterSize;
	left: $gutterSize;
    }

    .submit {
	position: absolute;
	bottom: $gutterSize;
	right: $gutterSize;
    }

    /* .search-dialog { */
    /* 	position: absolute; */
    /* 	background: lightblue; */
    /* 	width: 2 * $width; */
    /* 	height: $height; */
    /* 	top: 0; */
    /* 	transition: 200ms left; */

    /* 	overflow: hidden; */

    /* 	.name-picker { */
    /* 	    width: $width; */
    /* 	    height: $height; */
    /* 	    position: absolute; */
    /* 	    top: 0; */
    /* 	    left: 0; */
    /* 	} */

    /* 	.image-picker { */
    /* 	    width: $width; */
    /* 	    height: $height; */
    /* 	    position: absolute; */
    /* 	    top: 0; */
    /* 	    right: 0; */
    /* 	} */

    /* 	&.animated { */
    /* 	} */

    /* 	&.first { */
    /* 	    left: $width; */
    /* 	} */

    /* 	&.second { */
    /* 	    left: -2 * $width; */
    /* 	} */

    /* 	&.first.shown { */
    /* 	    left: 0; */
    /* 	} */

    /* 	&.second.shown { */
    /* 	    left: -$width; */
    /* 	} */
    /* } */
}
